<div id="header">
  <div class="container">
    <nav id="banner">
      <img src="images/logo.png" class="logo" alt="Logo">
      <ul [class.open]="menuOpen" id="sidemenu">
        <li><a href="#header" (click)="closeMenu()">Home</a></li>
        <li><a href="#about" (click)="closeMenu()">About</a></li>
        <li><a href="#skills" (click)="closeMenu()">Skills</a></li>
        <li><a href="#project" (click)="closeMenu()">Projects</a></li>
        <li><a href="#certifications" (click)="closeMenu()">Certifications</a></li>
        <li><a href="#contact" (click)="closeMenu()">Contact</a></li>
        <i class="fas fa-times" (click)="closeMenu()"></i>
      </ul>
      <i class="fas fa-bars" (click)="openMenu()"></i>
    </nav>
    <div class="header-text">
      <h1>Hi, my name is <span>Mpho</span></h1>
      <p>A <span class="typed-text">{{ displayedText }}<span class="cursor" [class.blink]="!isTyping">|</span></span></p>
    </div>

    <div class="tech-icons">
      @for (tech of techs; track tech.label) {
        <div class="tech-item">
          <i [class]="tech.icon" [style.color]="tech.color"></i>
          <span>{{ tech.label }}</span>
        </div>
      }
    </div>
  </div>
</div>
